body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/assets/images/comon_images/bgforfood.jpg');
  background-position: center center; /* Center the image */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(135deg, #030303, #ffc3a0);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1000;
}

.heading {
  font-size: 2em;
  color: #fff;
  background-color: #a90808;
  padding: 10px 20px;
  border-radius: 50px;
  border: white solid 2px ;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 2s ease-in-out;
}

.content {
  margin-top: 100px; /* Adjust this to match the height of the header */
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
