body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(135deg, #ffafbd, #ffc3a0);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1000;
}

.heading {
  font-size: 2em;
  color: #fff;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: fadeIn 2s ease-in-out;
}

.content {
  margin-top: 100px; /* Adjust this to match the height of the header */
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
